<launch>

    <node pkg="robot" type="OakHumanDetection.py" name="Camera_Node"/>

    <node pkg="robot" type="DriversNode.py" name="Drivers_Node"/>

    <param name="neg_threshold" value="-350.0"/>
    <param name="pos_threshold" value="350.0"/>
    <param name="Dkp" value="0.043"/>
    <param name="SteeringSpeed" value="40"/>

    <node pkg="robot" type="RegulatorNode.py" name="Regulator_Node"/>

</launch>
